@font-face {
  font-family: 'Abril';
  src: url(./fonts/Abril_Display_Regular.otf) format('truetype') font-weight-normal, url(./fonts/Abril_Display_Bold.otf) format('truetype') font-weight-bold, url(./fonts/Abril_Display_BoldItalic.otf) format('truetype') font-italic font-weight-bold, url(./fonts/Abril_Display_Italic.otf) format('truetype') font-italic font-weight-normal;
}

html {
  overflow-x: hidden;
}

* {
  font-family: "Abril";
}

.bg {
  background: url("./bg.png");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 2.3rem;
  padding: 0.5rem 0;
  font-style: italic;
  text-transform: uppercase;
}

.rating span {
  margin: 0.1rem;
}

/* logo */

.logoHeader {
  width: 65px;
  opacity: 0.8;
}

.logoHeader:hover {
  opacity: 1;
}

.logoFooter {
  width: 25%;
}

/* carousel */

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
  display: flex;
}

.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  /* height: 300px; */
  height: auto;
  padding: 30px;
  margin: 40px;
  border-radius: 40px;
}

.carousel a {
  margin: 0 auto;
}

.banner-cr img {
  margin: 0 auto;
  height: auto;
  padding: 0;
  margin: 0;
  border-radius: 0;
  width: 100%;
}

/* Marquee  */

.marquee {
  width: 100%;
  line-height: 50px;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}

.marquee p {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 15s linear infinite;
}

.marquee img {
  width: 90px;
  min-width: 90px;
  filter: grayscale(100%);
  cursor: pointer;
}

.marquee img:hover {
  filter: grayscale(0%);
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

@media only screen and (max-width: 768px) {
  .carousel img {
    height: auto;
    margin: 0px 0px 20px 0px;
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 4px;
  }
  .carousel-control-next, .carousel-control-prev {
    display: none;
  }
  html, body {
    max-width: 100vw !important;
    overflow-x: hidden !important;
  }
  .sm-mt-0 {
    margin-top: 0 !important;
  }
}

.rounded {
  border-radius: 3px !important;
}

@media only screen and (min-width: 768px) {
  .min-w-320 {
    min-width: 320px;
  }
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

@media only screen and (min-width: 576px) {
  .r-sm-2 {
    right: 0.5rem !important;
  }
}

.r-0 {
  right: 0;
}

.rotate {
  transition: all ease-in-out 0.2s;
}

.rotate:hover {
  transform: rotate(90deg);
}

.disp-flex {
  display: flex;
}

.w100p {
  width: 100%;
}

.img-prod {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  vertical-align: middle;
  object-fit: contain;
}

.img-prod-cont {
  width: 100%;
  height: 180px;
  text-align: center;
  overflow: hidden;
}

.social-network a {
  opacity: 0.8 !important;
}

.social-network a:hover {
  text-decoration: none !important;
  opacity: 1 !important;
}

b {
  font-weight: bold !important;
}

.filterSelected {
  text-decoration: underline;
  font-style: italic;
}

.pt-2-4 {
  padding-top: 2.4rem;
}

#productCarousel .row {
  margin-left: 0;
  margin-right: 0;
}

#productCarousel img {
  margin: 0px 0px 80px 0px;
}

#productCarousel .carousel-caption {
  top: auto;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  right: 0;
  left: auto;
}

footer a {
  color: #000;
  opacity: 0.8;
}

footer a:hover {
  color: #000;
  opacity: 1;
}

.mh-400 {
  min-height: 400px;
}

.mh-210 {
  min-height: 210px;
}

.of-ct {
  object-fit: contain;
}

.CardLinkContainer {
  background: transparent;
  border: none;
  color: #780028;
}

.CardLinkContainer * {
  color: #780028;
}

.CardLinkContainer .h5 {
  margin-top: 1rem;
}

.CardLinkContainer .card-body {
  padding-top: 0;
}

.CardLinkContainer p.card-text {
  margin-bottom: 1.5rem;
}

.CardLinkContainer div.card-text:last-of-type {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.italic {
  text-decoration: italic;
}

.italic-underline {
  text-decoration: italic underline;
}

.underline {
  text-decoration: underline;
}

/*.CardLinkContainer:hover {
  cursor: pointer;
  box-shadow: 4px 4px 7px #333;
} */

.dark-blue {
  color: #b9535c;
}

.bold {
  font-weight: bold;
}

.secondary-blue {
  color: #780028;
}

.no-border {
  border: none !important;
}

.pointer {
  cursor: pointer;
}

.product-figure:hover img {
  opacity: 0;
}

.product-figure img {
  display: block;
  width: 100%;
  pointer-events: none;
  margin: 0 auto;
}

.no-stock-bow {
  position: absolute;
  transform: rotate(320deg);
  text-transform: uppercase;
  background: #b9535c;
  color: #fff;
  width: 30%;
  margin: 0 auto;
  left: -4.5rem;
  right: 0;
  top: 2rem;
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
  opacity: 0.8;
}

.flex {
  display: flex;
}

.border-title-bottom {
  padding-bottom: .8rem;
  margin: 0 auto;
  /* width: 350px; */
  /* display: block; */
}

.border-title-bottom::after {
  content: '';
  width: 270px;
  border-bottom: 1.5px solid #780028;
  margin: 0 auto;
  display: block;
  padding-top: 1rem;
}

@media only screen and (max-width: 768px) {
  #productCarousel .carousel-caption {
    padding-left: 0;
    padding-right: 0;
  }
}

.relative {
  position: relative;
  width: 100%;
  padding: 50px;
  overflow: hidden;
}

.flower-container {
  position: absolute;
  width: 100px;
}

.flower-left {
  bottom: -1.2rem;
  left: 0;
  transform: rotate(45deg);
}

.flower-right {
  right: 2px;
  top: -1.2rem;
  transform: rotate(225deg);
}

.subheader {
  color: #fbc0c1;
}

#termsModal {
  max-width: 60%;
}

@media only screen and (min-width: 1300px) {
  .list-group {
    font-size: .9rem;
  }
}

@media only screen and (max-width: 1024px) {
  h5, .fs-1 {
    font-size: 1rem;
  }
  .carosuel-caption h5, .card-text i {
    font-size: 1.1rem;
  }
  #productCarousel {
    padding-top: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  h5, .fs-1 {
    font-size: 1rem;
  }
  #productCarousel img {
    margin: 0px 0px 100px 0px;
  }
  .m-w-70-m0a {
    width: 100%;
    margin: 0 auto;
  }
  .carosuel-caption h5, .card-text i {
    font-size: 1rem;
  }
  .m-p-0 {
    padding: 0;
  }
}

@media only screen and (max-width: 576px) {
  .mobile-px2-ml-0 {
    padding-left: 2px!important;
    padding-right: 2px!important;
    margin-left: 0px!important;
  }
  .img-prod-cont{
    height: 250px;
  }
  h2{
    font-size: 2rem;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .ml-w78 {
    width: 78%!important;
    margin: 0 auto;
  }
  .mobile-px2-ml-0 {
    padding-left: 2px!important;
    padding-right: 2px!important;
    margin-left: 0px!important;
  }
  .img-prod-cont{
    height: 250px;
  }
  h2{
    font-size: 2rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .ml-w78 {
    /* width: 78%!important; */
    margin: 0 auto;
  }
  .mobile-px2-ml-0 {
    padding-left: 2px!important;
    padding-right: 2px!important;
    margin-left: 0px!important;
  }
  .mobile-center {
    align-self: center;
    justify-self: center;
  }
  .img-prod-cont{
    height: 250px;
  }
  h2{
    font-size: 2rem;
  }
}